/* This is the main css file. It will provide the layout styling to the landing page as well as to the rest of pages.
    Variables are declared in this file.
    This file is also intended to provide styling to header and footer elements that will repeat across pages.
    Every other page to have their specific css to deal with elements that are not shared with the rest of pages */

/* @import url("https://fonts.googleapis.com/css2?family=Zalando+Sans:ital,wght@0,200..900;1,200..900&display=swap"); */

@font-face {
    font-family: "Zalando"; /* set name */
    src: url(https://fonts.googleapis.com/css2?family=Zalando+Sans:ital,wght@0,200..900;1,200..900&display=swap); /* url of the font */
}

:root {
    --green: #3c9e82;
    --blue: #247ab7;
    --white: #fafafa;
    --black: darkslategray;
}
body {
    background-color: var(--white);
    font-family: "Zalando", sans-serif !important;
    color: var(--black);
}
.outer-wrapper {
    background-color: transparent;
    overflow: visible;
    position: sticky;
    top: 0;
    z-index: 1000;
}
.outer-background {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100px;
    background-color: var(--green);
}
.nav-wrapper {
    background-color: #fff; /*Need to fix this, image to remove background*/
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.navbar {
    /* background-color: var(--blue); */
}
.company-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10vw;
}
.brand-bar {
    justify-self: center;
    justify-content: center;
    width: 100%;
    display: flex;
}

.nav-link {
    font-size: 20px;
    font-weight: 300;
    color: var(--black);
}

.nav-link:hover {
    border-bottom: 4px solid #3c9e82;
    padding-bottom: 4px;
    color: var(--black);
}

.nav-link.show {
    background-color: var(--green) !important;
    color: var(--white) !important;
    border-radius: 15px;
}

.nav-item .active {
    font-weight: 600;
    color: var(--black) !important;
}

.dropdown-item:hover {
    background-color: var(--green);
    color: var(--white);
}

.insurance-types {
    color: #fafafa;
    display: flex;
    flex-wrap: wrap;
}

.hero-image {
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: row;
}

.hero-text-1,
.hero-text-2,
.hero-text-3 {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 1%;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 1.2vw;
    font-size: 2vh;
}

.hero-text-1 {
    background-color: #3c9e82;
}

.hero-text-2 {
    background-color: #3c9e82;
}

.hero-text-3 {
    background-color: #3c9e82;
}

.hero-text-header {
    text-align: center;
    text-decoration: underline;
}

.hero-text-p {
    padding: 5px;
}

.hero-image-mobile {
    display: none;
}

footer {
    /* height: 20vh; */
    padding-top: 10px;
    background-color: white;
}

.footer-links-container {
    display: flex;
    justify-content: space-around;
}

footer h3 {
    text-align: center;
}

footer ul {
    padding: 0;
}

footer li {
    margin-top: 5px;
}

.products-list,
.products-list a {
    list-style: none;
    text-decoration: none;
    color: #212529;
}

.footer-logo {
    scale: 80%;
    max-width: 100%;
}

.footer-socials {
    display: flex;
    justify-content: space-around;
}

.footer-socials i {
    margin-top: 15px;
    font-size: 25px;
    color: var(--black);
}

.footer-bottom {
    text-align: center;
}

.footer-bottom p {
    margin: 0;
}

footer hr {
    margin: 5px 5%;
}

/* Media queries for responsive design */

/* Target tablets */
@media (max-width: 768px) {
    .hero-text-1,
    .hero-text-2,
    .hero-text-3 {
        font-size: 2vw;
    }

    .company-logo {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 75%;
    }
}

/* Target larger mobile phones */
@media (max-width: 425px) {
    .hero-image {
        flex-direction: column;
    }

    /* Swap sections for mobile view only */
    .hero-image-large {
        display: none;
    }

    .hero-image-mobile {
        display: flex;
    }

    .hero-text-1,
    .hero-text-2,
    .hero-text-3 {
        width: 100%;
        font-size: 3vw;
        padding: 1%;
    }

    .hero-image img {
        width: 100%;
        height: 50%;
    }


    .footer-links-container {
        flex-direction: column;
    }

    .footer-links-container li {
        text-align: center;
    }

    .footer-logo {
        width: 100%;
    }
}

/* Target smallest mobile screens */
@media (max-width: 320px) {
    .hero-text-1,
    .hero-text-2,
    .hero-text-3 {
        font-size: 3.5vw;
    }
}

/* Maintain a fixed font-sixe property value in screens larger than 1440px wide */
@media (min-width: 1440px) {
    .hero-text-1,
    .hero-text-2,
    .hero-text-3 {
        font-size: 25px;
    }

    .nav-link {
        /* font-size: 32px; */
    }
}

/* Display no content on screens smaller than 320px wide */
@media (max-width: 319px) {
    * {
        display: none;
    }
}

/* Fixed */
@media (min-width: 768px) {
    .nav-link {
        /* font-size: 26px; */
    }
}

/* Fixed */
@media (max-width: 768px) {
    .footer-links-container {
    display: grid;
    text-align: center;
}
}
