/* This is the main css file. It will provide the layout styling to the landing page as well as to the rest of pages.
    Variables are declared in this file.
    This file is also intended to provide styling to header and footer elements that will repeat across pages.
    Every other page to have their specific css to deal with elements that are not shared with the rest of pages */

/* @import url("https://fonts.googleapis.com/css2?family=Zalando+Sans:ital,wght@0,200..900;1,200..900&display=swap"); */

@font-face {
    font-family: "Zalando";
    /* set name */
    src: url(https://fonts.googleapis.com/css2?family=Zalando+Sans:ital,wght@0,200..900;1,200..900&display=swap);
    /* url of the font */
}

:root {
    --green: #3c9e82;
    --blue: #247ab7;
    --white: #fff;
    --black: darkslategray;
}

body {
    background-color: var(--white);
    font-family: "Zalando", sans-serif !important;
    color: var(--black);
}

.outer-wrapper {
    background-color: transparent;
    overflow: visible;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.outer-background {
    position: absolute;
    top: 0;
    width: 100%;
    height: 110px;
    background-color: var(--green);
    z-index: -1;
}

.insurance-types {
    color: var(--white);
    display: flex;
    flex-wrap: wrap;
}

.hero-text-1,
.hero-text-2,
.hero-text-3 {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 1%;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 1.2vw;
    font-size: 2vh;
}

.hero-text-1 {
    background-color: #3c9e82;
}

.hero-text-2 {
    background-color: #3c9e82;
}

.hero-text-3 {
    background-color: #3c9e82;
}

.hero-text-header {
    text-align: center;
    text-decoration: underline;
}

.hero-image-mobile {
    display: none;
}

footer {
    /* height: 20vh; */
    background-color: var(--white);
}

.footer-links-container {
    display: flex;
    justify-content: space-around;

}

footer h3 {
    text-align: center;
}

footer ul {
    padding: 0;
}

footer li {
    margin-top: 5px;
}

.products-list,
.products-list a {
    list-style: none;
    text-decoration: none;
    color: var(--black);
}

.footer-logo {
    scale: 80%;
    max-width: 100%;
}

.footer-socials {
    display: flex;
    justify-content: space-around;
}

.footer-socials i {
    margin-top: 15px;
    font-size: 25px;
    color: var(--black);
}

.footer-bottom {
    text-align: center;
}

.footer-bottom p {
    margin: 0;
}

footer hr {
    margin: 5px 5%;
}

#contact-section,
#about,
#FAQs {
    scroll-margin-top: 150px;
}

/* Media queries for responsive design */

/* Target tablets */
@media (max-width: 768px) {

    .hero-text-1,
    .hero-text-2,
    .hero-text-3 {
        font-size: 2vw;
    }
}

/* Target larger mobile phones */
@media (max-width: 425px) {
    .hero-image {
        flex-direction: column;
    }

    /* Swap sections for mobile view only */
    .hero-image-large {
        display: none;
    }

    .hero-image-mobile {
        display: flex;
    }

    .hero-text-1,
    .hero-text-2,
    .hero-text-3 {
        width: 100%;
        font-size: 3vw;
        padding: 1%;
    }

    .hero-image img {
        width: 100%;
        height: 50%;
    }


    .footer-links-container {
        flex-direction: column;
    }

    .footer-links-container li {
        text-align: center;
    }

    .footer-logo {
        width: 100%;
    }
}


/* REVISED NAVBAR --------------------------------------------------------------------- */
/* ICONS */
.navbar i {
    font-size: 2rem;
    color: #3c9e82;
    text-align: center;
}

.navbar a {
    font-size: 22px;
    color: #212529;
    font-weight: 600;
    display: grid;
}

.container {
    margin: 0%;
}

li.nav-item {
    margin: 0px 10px 0px 10px;
}

.navbar {
    position: sticky;
    box-shadow: 0 0 10px darkslategray;
    background-color: var(--white) !important;
    justify-content: space-evenly;
    /* border-radius: 0 0 30px 30px; */
}

/* Active Page highlighted navbar */
.nav-link.activated {
    box-shadow: 0 0 10px var(--green);
}

.nav-link:hover {
    color: var(--white);
    background-color: var(--green);
    box-shadow: 0 0 10px var(--green);
}

/* Target the icon to change too on hover -> nav-link */
.nav-link:hover i {
    color: var(--white);
}

.nav-link,
.nav-link i {
    transition: color 0.5s ease, background-color 0.4s ease;
}

.nav-link {
    border-radius: 10px;
    width: 140px;
    text-align: center;
    margin: 0px 10px 0px 10px;
}

@media (max-width: 992px) {
    .navbar-nav {
        flex-direction: row;
        justify-content: space-between;
    }

    .nav-link {
        padding-right: 10px;
    }

    .navbar a {
        display: inline;
    }

    .navbar i {
        margin: 10px 10px 10px 10px;
    }

    .navbar a,
    .navbar i {
        font-size: 25px;
    }
}

@media (max-width: 576px) {
    .navbar-nav {
        flex-direction: column;
        align-items: end !important;
    }

    .nav-link {
        text-align: left;
        width: 70px;
    }
    .fa-person {
        padding-right: 6px;
    }

    .fa-car {
        padding-right: 2px;
    }
}

@media (max-width: 460px) {
    .navbar-nav {
        flex-direction: column;
        align-items: end !important;
    }



    #cool_logo {
        width: 200px;
        height: auto;
    }
}

/* REVISED NAVBAR END---------------------------------------------------- */

/* Target smallest mobile screens */
@media (max-width: 320px) {

    .hero-text-1,
    .hero-text-2,
    .hero-text-3 {
        font-size: 3.5vw;
    }
}

/* Maintain a fixed font-sixe property value in screens larger than 1440px wide */
@media (min-width: 1440px) {

    .hero-text-1,
    .hero-text-2,
    .hero-text-3 {
        font-size: 30px;
    }
}

/* Display no content on screens smaller than 320px wide */
@media (max-width: 319px) {
    * {
        display: none;
    }
}


/* Fixed */
@media (max-width: 768px) {
    .footer-links-container {
        display: grid;
        text-align: center;
    }
}
@media (min-width: 1900px) {
    .hero-text-p, form textarea, form label, .aboutPoints, p, a, form output, select, li, button {
        font-size: 22px !important;
    }
    h3, h4, h5, h6 {
        font-size: 28px !important;
    }
    h2, i {
        font-size: 40px !important;
    }
    input[type=radio], input[type=checkbox] {
        transform: scale(1.5);
    }
    form input {
        margin-right: 20px;
    }

}