/* This is the main css file. It will provide the layout styling to the landing page as well as to the rest of pages
    Every other page to have their specific css to deal with elements that are not shared with the rest of pages */