


houseIns-form {
    background-color: #247AB7;
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: row;     
}


.form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}


label{
 	display:block;
 	margin-top:10px;
  }

input[type=text], select {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


 input{
 	width:100%;
 	padding:6px;
 	margin-top:4px;
 	border:1px solid #ccc;
 	border-radius:4px;	
 }

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

button{
    width:100%;
 	  margin-top:15px;
 	  padding:8px;
 	  background-color:#007bff;
    color: white;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

 button:hover{
 	background-color:#0056b3;
 }