


/*houseIns-form {
    background-color: #247AB7;
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: row;     
}
*/

h2 {
  
    text-align: center;
    border-radius: 15px;
    margin: 1% -2%;
    background-color: #3C9E82;
    font-weight: 600;
    padding: 1%;
}

h3 {
    flex-direction: row;
    text-align: center;
    border-radius: 15px;
    margin: 1% -2%;
    background-color: white;
    padding: 1%;
}

/* Classes */
.houseIns-form {
    margin: 1vw 18vw;
    border-style: ridge;
    border-radius: 20px;
    padding: 1% 4%;
    box-shadow:0 0 5px rgba(000,0.1);
  
}

.form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
     box-shadow:0 0 5px rgba(000,0.1);

}


label{
 	display:block;
 	margin-top:10px;
  }

input[type=text], select {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


 input{
 	width:100%;
 	padding:6px;
 	margin-top:4px;
 	border:1px solid #ccc;
 	border-radius:4px;	
 }

 textarea{
 	width:100%;
 	padding:6px;
 	margin-top:4px;
 	border:1px solid #ccc;
 	border-radius:4px;	
 }

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


button{
    width:100%;
 	  margin-top:15px;
    border-radius: 15px;
 	  padding:8px;
 	  background-color:#3C9E82;
    color: black;
    margin: 8px 0;
    border: none;
    font-weight: 600;
    cursor: pointer;
}

 button:hover{
 	background-color:#33816b;
 }