@import "../../base.css";

.landing-section {
    background-color: var(--green);
}

.hero-card {
    background-color: #fff;
    border-radius: 60px;
    width: 50%;
    display: flex;
    flex-direction: row;
    margin: 10px 0;
    padding: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.25),
        -5px -5px 15px rgba(0, 0, 0, 0.25);
}
.hero-image {
    width: 100%;
    min-height: 40vh;
    display: flex;
    flex-direction: row;
}

.image-wrapper {
    width: 50%;
}

.hero-image {
    display: flex;
    width: 100%;
}

.image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    scale: 90%;
    border-radius: 60px;
    box-shadow: 0 0 15px rgba(60, 158, 130, 0.5);
}

.hero-text {
    background-color: transparent;
    width: 50%;
    color: darkslategray;
    font-family: "Zalando", sans-serif !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-text-header {
    text-decoration: none;
}

.hero-text-p {
    font-size: 16px;
    color: darkslategray;
}

.landing-section-2 {
    background-color: #fff;
}

.hero-card-2 {
    background-color: var(--green);
    border-radius: 60px;
    width: 50%;
    display: flex;
    flex-direction: row;
    margin: 10px 0;
    padding: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
}

.hero-card-2 * {
    color: var(--white);
}

.hero-card-2 img {
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
}

/* FAQs section--------------------------------- */

.FAQs {
   
}

.accordion {
    background-color: var(--green);
    color: #fff;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    box-shadow: 0px 0px 10px var(--blue);
    margin: 10px;
    text-align: center;
    outline: none;
    font-size: 15px;
    font-weight: bold;
    transition: 0.4s;
}

.accordion.active,
.accordion:hover {
    background-color: var(--blue);
}

.accordion:after {
    content: '\002B';
    color: #fff;
    font-weight: bold;
    font-size: x-large;
    float: left;
    margin-left: 15px;
}

.accordion.active:after {
    content: "\2212";
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
}

/* End FAQs ------------------------ */

@media (max-width: 768px) {

    .hero-card,
    .hero-card-2 {
        width: 80vw;
        height: auto;

    }

    .landing-section,
    .landing-section-2,
    .hero-text-p,
    .hero-text,
    .hero-card {
        height: auto;
    }
}