@import "../../base.css";

h1 {
    font-weight: 600;
}


.landing-section {
    background-color: var(--green);
}

.hero-card {
    background-color: #fff;
    border-radius: 30px;
    width: 65%;
    display: flex;
    flex-direction: row;
    margin: 20px 0;
    padding: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.25),
        -5px -5px 15px rgba(0, 0, 0, 0.25);
}

.hero-image {
    width: 100%;
    min-height: 40vh;
    display: flex;
    flex-direction: row;
}

.image-wrapper {
    width: 50%;
}

.hero-image {
    display: flex;
    width: 100%;
}

.image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    scale: 90%;
    border-radius: 60px;
    box-shadow: 0 0 15px rgba(60, 158, 130, 0.5);
}

.hero-text {
    background-color: transparent;
    width: 50%;
    color: darkslategray;
    font-family: "Zalando", sans-serif !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-text-header {
    text-decoration: none;
}

.hero-text-p {
    font-size: 16px;
    color: darkslategray;
}

.landing-section-2 {
    background-color: #fff;
}

.hero-card-2 {
    background-color: var(--green);
    border-radius: 30px;
    width: 65%;
    display: flex;
    flex-direction: row;
    margin: 20px 0;
    padding: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
}

.hero-card-2 * {
    color: var(--white);
}

.hero-card-2 img {
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
}

/* FAQs section--------------------------------- */
.faq-toggle {
    font-weight: 600;
    padding: 24px;
    font-size: 24px;
    background-color: darkslategrey;
    border-radius: 20px;
    margin: 20px;
    width: 100%;
    justify-self: center;
}

.faq-toggle:hover {
    color: darkslategray;
    font-size: 28px;
    background-color: #fff;
    cursor: pointer;
}

.accordion {
    background-color: #ffffff;
    color: darkslategray;
    cursor: pointer;
    padding: 12px;
    width: 85%;
    font-size: 15px;
    transition: 0.4s;
    border-radius: 20px;
    margin: 5px;

}

.accordion:hover {
    box-shadow: 0px 0px 7px var(--white);
}

.accordion.active,
.accordion:hover {
    background-color: var(--white);
    color: darkslategray;
    font-size: 15px;
    font-weight: bold;
}

.accordion:after {
    content: '\002B';
    color: var(--green);
    font-weight: bold;
    font-size: x-large;
    float: left;
    margin-left: 15px;
}

.accordion.active:after {
    content: "\2212";
}

.panel p {
    width: 80%;
    color: var(--white);
    margin-top: 5px;
}

.panel {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
    justify-items: center;
}

/* Hidden Edit Butoons from get go ------------------------------------------ */
#homeFAQ,
#lifeFAQ,
#carFAQ {
    display: none;
}

/* FAQ Main */
.faqMain {
    background-color: var(--green);
    border-radius: 30px;
    width: 65%;
    color: var(--white);
    text-align: center;
    margin: 20px 0;
    padding: 30px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
}

/* End FAQs ------------------------ */

@media (max-width: 768px) {

    .hero-card,
    .hero-card-2 {
        width: 80vw;
        height: auto;

    }

    .landing-section,
    .landing-section-2,
    .hero-text-p,
    .hero-text,
    .hero-card {
        height: auto;
    }

    .faqMain {
        width: 80vw;
    }
}