@import "../../base.css";

h3 {
    font-weight: 600;
}

.landing-section {
    background-color: var(--green);
}

.hero-card {
    background-color: #fff;
    border-radius: 30px;
    width: 65%;
    display: flex;
    flex-direction: row;
    margin: 20px 0;
    padding: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.25),
        -5px -5px 15px rgba(0, 0, 0, 0.25);
}

.hero-image {
    width: 100%;
    min-height: 40vh;
    display: flex;
    flex-direction: row;
}

.image-wrapper {
    width: 50%;
}

.hero-image {
    display: flex;
    width: 100%;
}

.image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    scale: 90%;
    border-radius: 60px;
    box-shadow: 0 0 15px rgba(60, 158, 130, 0.5);
}

.hero-text {
    background-color: transparent;
    width: 50%;
    color: darkslategray;
    font-family: "Zalando", sans-serif !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-text-header {
    text-decoration: none;
}

.hero-text-p {
    font-size: 16px;
    color: darkslategray;
}

.landing-section-2 {
    background-color: #fff;
}

.hero-card-2 {
    background-color: var(--green);
    border-radius: 30px;
    width: 65%;
    display: flex;
    flex-direction: row;
    margin: 20px 0;
    padding: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
}

.hero-card-2 * {
    color: var(--white);
}

.hero-card-2 img {
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
}

/* FAQs section--------------------------------- */
.faq-heading {
    text-align: center;
    font-weight: 600;
    font-size: 42px;
    color: var(--white);
    border-radius: 20px;
    border: 0px 0px 1px darkslategrey;
    margin-bottom: 0;

}

.FAQs {

    padding: 20px;
    box-shadow: 0 0 10px black;
    background-color: var(--green);
    border-radius: 30px;
    width: 65%;
    margin: 20px 0;
    padding: 30px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
}

.accordion {
    background-color: var(--white);
    color: darkslategray;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: 0 0 1px darkslategrey;
    box-shadow: 0px 0px 8px var(--white);
    outline: none;
    font-size: 25px;
    font-weight: bold;
    transition: 0.4s;
    border-radius: 20px;
    margin: 10px 10px 10px 0px;

}


.accordion.active,
.accordion:hover {
    background-color: var(--blue);
    box-shadow: 0px 0px 0px var(--white);
    color: var(--white);

}

.accordion:after {
    content: '\002B';
    color: var(--green);
    font-weight: bold;
    font-size: x-large;
    float: left;
    margin-left: 15px;
}

.accordion.active:after {
    content: "\2212";
}

.panel p {

    color: var(--white);
}

.panel {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
}

/* End FAQs ------------------------ */

@media (max-width: 768px) {

    .hero-card,
    .hero-card-2 {
        width: 80vw;
        height: auto;

    }

    .landing-section,
    .landing-section-2,
    .hero-text-p,
    .hero-text,
    .hero-card {
        height: auto;
    }

    .FAQs {
        width: 80vw;
    }
}