@import "../../base.css";

.landing-section {
    background-color: var(--green);
}
.landing-section,
.landing-section-2 {
    padding: 22px 0;
}
.hero-card {
    background-color: #fff;
    border-radius: 60px;
    width: 50%;
    display: flex;
    flex-direction: row;
    margin: 10px 0;
    padding: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.25),
        -5px -5px 15px rgba(0, 0, 0, 0.25);
}
.image-wrapper {
    width: 50%;
}
.hero-image {
    display: flex;
    width: 100%;
}
.image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    scale: 90%;
    border-radius: 60px;
    box-shadow: 5px 5px 15px rgba(60, 158, 130, 0.5),
        -5px -5px 15px rgba(60, 158, 130, 0.5);
}
.hero-text {
    background-color: transparent;
    width: 50%;
    color: darkslategray;
    font-family: "Zalando", sans-serif !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hero-text-header {
    text-decoration: none;
}
.hero-text-p {
    font-size: 16px;
    color: darkslategray;
}

.landing-section-2 {
    background-color: #fff;
}
.hero-card-2 {
    background-color: var(--green);
    border-radius: 60px;
    width: 50%;
    display: flex;
    flex-direction: row;
    margin: 10px 0;
    padding: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.25),
        -5px -5px 15px rgba(0, 0, 0, 0.25);
}
.hero-card-2 * {
    color: #fff;
}
.hero-card-2 img {
    box-shadow: 5px 5px 15px rgba(255, 255, 255, 0.5),
        -5px -5px 15px rgba(255, 255, 255, 0.5);
}
