h1 {
    text-align: center;
    border-radius: 15px;
    margin: 1% -2%;
    background-color: #3C9E82;
    font-weight: 600;
    padding: 1%;
}


/* Classes */
.formSections {
    margin: 1vw 7vw;
    border-style: ridge;
    border-radius: 20px;
    padding: 1% 4%;
}

.form-auto {
    margin-top: 1%;
    border-style: none;
    border-radius: 20px;
    padding: 1% 4%;
}

.policy {
    text-align: center;
    margin-top: 15px;
    border-style: inset;
    border-radius: 35px;
}

.btn {
    background-color: #247AB7;
    font-weight: 600;
    color: white;
    margin-top: 1%;
}

.col-12 {
    text-align: center;
}

/* IDs */

#carYear {
    border-style: inset;
}

/* Better Balance between size and content amount
@media (max-width: 1024px) {
body {
    
}
} */


body {
    font-size: small;
}
@media (max-width: 426px) {
    .VehicleInfo {
        margin: 3% 6%;
        border-style: none;
        border-radius: 0px;
    }

    .policy {
        margin-top: 12px;
    }
}


