/* This is the car insurance quotation page of our company's site
Kevin Orlov 
Student ID: x24150614  */

@import "../../../base.css";

/* TAGS */
h1 {
    text-align: center;
    color: #fff;
    border-radius: 15px;
    margin: 10px -5px 30px -5px;
    background-color: var(--green);
    font-weight: 600;
    padding: 1%;
    box-shadow: inset 0 0 3px #353535;
    border: 2px solid darkslategray;
    text-shadow: 0 0 3px black;
}

h4 {
    font-weight: bold;
    font-size: large;
}

h6 {
    font-weight: 600;
}

label {
    font-size: large;
    font-weight: bold;
}

input:invalid,
select:invalid,
textarea:invalid {
    scroll-margin-top: 200px;
    /* height of navbar */
}

/* Classes -------------------------------------------------------------*/
/* Form  Sections */
.formSections {
    margin: 1vw 15vw;
    border-radius: 20px;
    padding: 1% 4%;
    background-color: white;
    box-shadow: 0px 0px 10px rgb(55, 55, 55);
    border: 1px solid darkslategray;
}

#section2 {
    padding: 20px;
}

/* Checkbox and switches made larger than native */
.form-check-input {
    font-size: 18px;
    background-color: #c5e3ff;
}

/* Sections Background */
.greenBack {
    background-color: var(--green);
    padding: 20px 0px 20px 0px;
    box-shadow: 0 0 10px;
}

.whiteBack {
    padding: 20px 0px 20px 0px;
    box-shadow: 0 0 10px;
}

/* Buttons and checkboxes end of sections */
.form-check {
    justify-self: center;
    margin-top: 30px;
}

.policy {
    text-align: center;
    margin-top: 15px;
    border-style: inset;
    border-radius: 20px;
    background-color: rgb(245, 245, 245);
}

.btn {
    background-color: rgb(209, 209, 209);
    font-weight: 600;
    color: black;
    margin-top: 1%;
    border-color: #3C9E82;
    box-shadow: 0 0 2px #3C9E82;
}

.btn-primary {
    width: 200px;
}

/* Collapsed Form Edit Buttons */
.editDropdown {
    justify-self: center;
    text-align: center;
}

/* Nice affect on the above */
.editDropdown:hover {
    font-weight: bold;
}

/* Live Price */
div.sticky {
    position: sticky;
    bottom: 0;
    background-color: #247AB7;
    padding: 18px 18px 12px 18px;
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-around;
    justify-self: center;
    border-radius: 10px;
    margin: 15px;
    box-shadow: 0 0 5px var(--green);
    border: 1px solid darkslategray;
}


.radio {
    font-weight: unset;
    font-size: 16px;
}

/* REG GRAPHIC ---------------------------------------------------------------*/
.reg {
    border-style: inset;
    padding: 0px;
    height: 72.5px;
    width: 248px;
    border-radius: 11px;
    box-shadow: 0 0 10px;
}

#regEmblem {
    border-radius: 9.5px 0px 0px 9.5px;
}

#regText {
    font-size: 27px;
    margin: 2px;
    text-align: center;
    font-weight: 600;
    line-height: 70px;
}

/* REG END ------------------------------------------------------------------ */

/* Buttons */
.col-12 {
    text-align: center;
}

/* Hidden Edit Butoons from get go ------------------------------------------ */
#editCarInfo,
#editInsPref,
#editDriverDetails {
    display: none;
}

/* Contrasting Color */
#editInsPref {
    color: #fff;
}

/* TCs OVERLAY ----------------------------------------------------------------------------- */
.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    /* Semi transparent background */
    z-index: 9999;
    display: flex;
    justify-items: center;
    align-items: center;
    display: none;
    overflow-y: auto;
}

.overlayContent {
    background-color: white;
    padding: 40px;
    border-radius: 20px;
    margin: 30px 30px 120px 30px;
    width: 60%;
    text-align: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#closeOverlay {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: var(--blue);
    color: white;
    border: inset;
    border-radius: 15px;
    cursor: pointer;
}

/* END TCs--------------------------------------------------------- */

/* Tablet */
@media (max-width: 769px) {
    .formSections {
        margin: 1vw 8vw;
        border-style: ridge;
        border-radius: 20px;
        padding: 1% 4%;
    }

    div.sticky {
        display: block;
        text-align: center;
        width: 100%;
        padding: 8px 8px 2px 8px;
    }

    .overlayContent {
        padding: 12px;
    }

    .overlayContent {
        background-color: white;
        margin-bottom: 160px;
        min-width: 80%;
        padding: 12px;
        border-radius: 20px;
        text-align: left;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    .reg {
        margin: 20px 10px 10px 10px;
    }

    /* Minor responisveness adjust */
    .btn.btn-danger,
    .col-12 {
        margin-bottom: 8px;
    }

}

/* Mobile Large */
@media (max-width: 426px) {
    h1 {
        padding: 5%;
        margin-bottom: 10px;
    }

    .policy {
        text-align: center;
        margin-top: 2px;
        border-style: outset;
        border-radius: 40px;
        background-color: rgb(245, 245, 245);
    }

    .VehicleInfo {
        margin: 3% 6%;
        border-style: none;
        border-radius: 0px;
    }

    .policy {
        margin-top: 12px;
    }
}