h1 {
    text-align: center;
    color: #fff;
    border-radius: 15px;
    margin: 10px -10px 30px -10px;
    background-color: var(--green);
    font-weight: 600;
    padding: 1%;
    box-shadow: 0px 0px 15px var(--green);
    border-style: outset;
}

h4 {
    font-weight: bold;
    font-size: large;
}

h6 {
    font-weight: 600;
}

label {
    font-size: large;
    font-weight: bold;
}


/* Classes -------------------------------------------------------------*/
.formSections {
    margin: 1vw 20vw;
    border-radius: 60px;
    padding: 1% 4%;
    background-color: white;
    box-shadow: 0 0 10px;
}

/* Sections Background */
.greenBack {
    background-color: var(--green);
    padding: 20px 0px 20px 0px;
}

.whiteBack {
    padding: 20px 0px 20px 0px;
}


/* TCs OVERLAY ----------------------------------------------------------------------------- */
.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Semi transparent background */
    z-index: 9999; /* Ensure it's overlayed*/
    display: flex; /* Center content */
    justify-items: center;
    align-items: center;
    display: none; 
    overflow-y: auto; 
}

.overlayContent {
    background-color: white;
    padding: 40px;
    border-radius: 40px;
    margin: 30px 30px 120px 30px;
    width: 50%;
    max-width: 60%;
    text-align: left;
    border-style: groove ;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    
    /* word-wrap: break-word; */
}

#closeOverlay {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: var(--blue);
    color: white;
    border: inset;
    border-radius: 15px;
    cursor: pointer;
}
/* END TCs--------------------------------------------------------- */


/* Buttons and checkboxes end of sections */
.form-check {
    justify-self: center;
    margin-top: 30px;
}

/* Read-Only Year determiner */
.form-auto {
    margin-top: 1%;
    border-style: none;
    border-radius: 20px;
    padding: 1% 4%;
}

.policy {
    text-align: center;
    margin-top: 15px;
    border-style: outset;
    border-radius: 40px;
    background-color: rgb(245, 245, 245);
}

.btn {
    background-color: rgb(209, 209, 209);
    font-weight: 600;
    color: black;
    margin-top: 1%;
    border-color: #3C9E82;
    box-shadow: 0 0 10px #3C9E82;
}

/* Live Price */
div.sticky {
    position: sticky;
    bottom: 0;
    background-color: #247AB7;
    padding: 18px 18px 12px 18px;
    width: 60vw;
    color: white;
    display: flex;
    justify-content: space-around;
    justify-self: center;
    border-radius: 10px;
    margin: 15px;
    box-shadow: 0 0 5px var(--green);
}


.radio {
    font-weight: unset;
    font-size: 16px;
}

/* Buttons */
.col-12 {
    text-align: center;
}


/* IDs ---------------------*/
#carYear {
    border-style: inset;
}

/* Hidden Edit Butoons from get go ------------------------------------------ */
#editCarInfo, #editInsPref, #editDriverDetails {
    display: none;
    width: 300px;
}

.editButtons {
    justify-self: center;
}

/* Tablet */
@media (max-width: 769px) {
    .formSections {
        margin: 1vw 8vw;
        border-style: ridge;
        border-radius: 20px;
        padding: 1% 4%;
    }

    div.sticky {
        display: block;
        text-align: center;
        width: 100%;
        padding: 8px 8px 2px 8px;
    }
    .overlayContent {
        width: 90%;
        padding: 20px;
    }
}

/* Mobile Large */
@media (max-width: 426px) {
    h1 {
        padding: 5%;
        margin-bottom: 10px;
    }

    .policy {
        text-align: center;
        margin-top: 2px;
        border-style: outset;
        border-radius: 40px;
        background-color: rgb(245, 245, 245);
    }

    .VehicleInfo {
        margin: 3% 6%;
        border-style: none;
        border-radius: 0px;
    }

    .policy {
        margin-top: 12px;
    }
}
