@import "../../../base.css";

.form-container {
    /* background-color: gray; */
    display: flex;
    justify-content: center;
}
.life-form {
    /* background-color: var(--green); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    margin: 10px 0;
    min-width: 33vw;
    min-height: 100px;
}
.form-title {
    justify-self: center;
    color: var(--green);
}
.formsection {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 -20px;
    border-left: 3px solid var(--green);

    /* padding-left: 10%; */
    /* display: block; */
}
#cover-amount {
    width: 50%;
}
#cover-term {
    border: none;
    background-color: transparent;
    width: 2.5em;
    margin-right: -15px;
}

#cover-term:focus,
#cover-term:hover {
    margin: 0;
    background-color: #fff;
}

.formsection ul {
    list-style: none;
    font-weight: 500;
}
.form-buttons * {
    border: 2px solid;
    border-radius: 5px;
    font-weight: 500;
    padding: 5px 10px;
    text-shadow: -0.5px -0.5px 0.5px #000, 0.5px 0.5px 0.5px #000; /* text-shadow: 1px 1px 1px #000; */
}
#add-adult-btn {
    border-color: var(--blue);
    background-color: var(--blue);
    color: #fff;
    /* margin-left: 15px; */
}
#submit-form-btn {
    border-color: var(--green);
    background-color: var(--green);
    color: #fff;
}

.formsection div {
    border-radius: 5px;
    padding: 10px 20px;
}

.formsection div:not(.form-buttons):hover {
    background-color: lightgray;
}

.list-header {
    border-top: 3px solid var(--blue);
    border-width: 90%;
    border-radius: 0 !important;
    color: var(--blue);
}
#second-adult-list {
    display: none;
}
