/* Style sheets for the life insurance quoation page 
    Juan A. Boccia 
    Student ID: 23435330 */

@import "../../../base.css";

.form-container {    
    display: flex;
    justify-content: center;
}
.green-bg {
    background-color: var(--green);

}
.life-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    margin: 10px 0;
    padding: 15px 0;
    min-width: 33vw;
    min-height: 100px;
    border-radius: 60px;
    box-shadow: 0 0 10px var(--black);
}
.titlediv {
    width: 75% !important;
    background-color: var(--green);
    color: var(--white);
    border-radius: 10px;
    box-shadow: 0 0 10px var(--black);
}
.form-title {
    justify-self: center;
    margin: 10px 0 !important;

}
.formsection {
    display: flex;
    flex-direction: column;
}

label {
    font-size: large;
    font-weight: bold;
}

input[type=text], input[type=date],input[type=email],input[type=tel],  .amount-slider-wrapper,.smoker-wrapper, #county {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
#cover-term {
    text-align: right;
    color: var(--black);
}
.smoker-wrapper * {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

#cover-term {
    border: none;
    background-color: transparent;
    width: 2.5em;
}

#cover-term:focus,
#cover-term:hover {
    margin: 0;
    background-color: #fff;
}

.formsection ul {
    list-style: none;
    font-weight: 500;
}
.form-buttons {
    display: flex;
    justify-content: center;
    width: 100%;
}
.form-buttons * {
    border: 2px solid;
    border-radius: 5px;
    font-weight: 500;
    padding: 5px 10px;
    min-width: 20%;
    aspect-ratio: 4/1;
}
#add-adult-btn, #remove-adult-btn, #submit-form-btn {
    border: none;
    box-shadow: 0 0 10px var(--black);
}
#add-adult-btn:hover {
    border-color: var(--blue);
    background-color: var(--blue);
    color: #fff;
}
#remove-adult-btn:hover {
    border-color: #dc3545;
    background-color: #dc3545;
    color: #fff;
}
#submit-form-btn:hover {
    border-color: var(--green);
    background-color: var(--green);
    color: #fff;
}

.formsection div {
    border-radius: 5px;
    padding: 10px 20px;
}


.list-header {
    border-radius: 0 !important;
    margin-top: 10px;
    color: var(--green);
}
#second-adult-list {
    display: none;
}

input[type=checkbox] {
    border: 1px solid #ccc;
    box-sizing: border-box;
    width: 1.5rem;
    height: 1.5rem;
}
.form-check-input:checked {
    background-color: var(--green) !important;
    border-color: var(--green) !important;
}
input[type=checkbox]:focus {
    box-shadow: 0 0 10px var(--green) !important;
    border-color: var(--green);
}
.shadowOnFocus:focus, .shadowOnFocus:has(input:focus).shadowOnFocus:focus-visible, .shadowOnFocus:has(input:focus-visible) {
    border: 1px solid #ccc !important;
    outline: #ccc solid 1px;

    box-shadow: 0 0 10px var(--green);
}
.reqd-asterisk {
    color: var(--green);
}

@media (min-width: 1900px){
    form input {
        font-size: 25px !important;
    }
    
}